*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:sans-serif;
}

body{
  background:#0a0e0f;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.container{
  width:30rem;
  background:#101618;
  padding:1rem;
  border-radius:10px;
  text-align:center;
}

h1{
  padding:1rem;
}

.choice button{
  padding:.75rem 1.5rem;
  margin-right:.5rem;
  border:none;
  border-radius:5px;
  cursor:pointer;
}

.input{
  margin-top:1rem;
}

.score{
  display:flex;
  justify-content:space-between;
  margin-top:1rem;
}